<div class="sidebar" style="background-color: rgb(123, 158, 58)">
  <div class="sidebar-nav p-0 m-0">
    <ul class="nav flex-column mt-4">
      <li class="nav-item mb-2 mt-2">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
          <i class="fas fa-columns p-2"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link mb-2 mt-2"
          routerLink="/reports"
          routerLinkActive="active"
        >
          <i class="fas fa-chart-bar p-2"></i>
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link mb-2 mt-2"
          routerLink="/login"
          routerLinkActive="active"
        >
          <i class="fas fa-sign-out-alt p-2"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>
